/ECommerce/NetCoreApplication/PriceComparison.API/obj
/ECommerce/NetCoreApplication/.vs
/ECommerce/NetCoreApplication/.vs
/ECommerce/NetCoreApplication/PriceComparison.Application/obj
/ECommerce/NetCoreApplication/PriceComparison.Core/obj
/ECommerce/NetCoreApplication/PriceComparison.Infrastructure/obj
/ECommerce/NetCoreApplication/PriceComparison.Scraper/obj
/ECommerce/NetCoreApplication/.vs
